@import 'var-mix-ext';

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  header {
    background-color: $lightblue;
    box-shadow: 1px -20px 20px 20px $midblue;
    height: 8vh;
    width: 100%;
    display: flex;
    @include center(center);
    .logo-nav{
      width: 98%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-box {
        max-height: 6vh;
        img {
          max-height: 6vh;
        }
      }
      .nav-box{
        width: 600px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        .nav{
          color: $darkblue;
          display: flex;
          align-items: center;
          text-decoration: none;
        }
        .active {
          font-weight: bold;
        }
        .logout {
          @extend %button;
        }
      }
    }
  }
  .get-out {
    @extend %page-sizing;
    display: flex;
    flex-direction: column;
    @include center(center);
    img {
      max-width: 400px;
    }
  }
  .footer {
    background-color: $lightblue;
    box-shadow: 1px 20px 20px 20px $midblue;
    height: 8vh;
  }
}