@import 'var-mix-ext';

.App {
  text-align: center;
  background-image: url('../images/transparent-logo.png');
  background-position: center;
  background-size: 51px;
  background-repeat: repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  header {
    background-color: $lightblue;
    border-bottom: 2px solid $darkblue;
    height: 8vh;
    width: 100%;
    display: flex;
    @include center(center);
    .logo-nav{
      width: 98%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-box {
        max-height: 6vh;
        img {
          max-height: 6vh;
        }
      }
      .nav-box{
        width: 700px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        .nav{
          color: $darkblue;
          display: flex;
          align-items: center;
          text-decoration: none;
        }
        .active {
          font-weight: bold;
        }
        .logout {
          @extend %button;
        }
      }
    }
  }
  .footer-toggle {
    background-color: transparent;
    border: solid black;
    border-width: 0 5px 5px 0;
    outline: none;
    padding: 3px;
    position: absolute;
    bottom: 5px;
    left: 49.7%;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: .3s;
  }
  .move-up {
    background-color: transparent;
    border: solid black;
    border-width: 0 5px 5px 0;
    outline: none;
    padding: 3px;
    position: absolute;
    bottom: 60px;
    left: 49.7%;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .3s;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: .3s;
    div {
      height: 50px;
      min-width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: .3s;
      button {
        background-color: $dexred;
        height: 30px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        // padding: 1px;
        transition: .3s;
      }
    }
  }
  .show {
    background-color: $lightblue;
    border-top: 2px solid $darkblue;
    height: 50px;
    transition: .3s;
  }      
}