@import 'var-mix-ext';

.auth-container {
  @extend %page-sizing;
  display: flex;
  @include center(center);
  form {
    background-color: $midblue;
    @extend %border-setting;
    border-color: $darkblue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .inputs {
      background-color: $lightblue;
      @extend %border-setting;
      border-color: $darkblue;
      height: 400px;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .username-i {
        @extend %auth-inputs;
      }
      .email-i {
        @extend %auth-inputs;
      }
      .password-i {
        @extend %auth-inputs;
      }
      .submit {
        @extend %button;
      }
    }
  }
  .switcher {
    @extend %button;
  }
}