@import 'var-mix-ext';

.page {
  @extend %page-sizing;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .pokedex-holder {
    background-color: #e90026;
    @extend %border-setting;
    height: 75vh;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    input {
      outline-color: red;
    }
    .pokedex {
      background-color: lightgrey;
      @extend %border-setting;
      height: 60vh;
      width: 410px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
    }
    .random {
      background: none;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 96px;
        height: 40px;
        max-width: 90px;
        width: 35px;
      }
    }
  }
  .pokedex-holder-loading {
    background-color: $dexred;
    @extend %border-setting;
    height: 75vh;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .pokedex-border-loading {
      background-color: lightgrey;
      @extend %border-setting;
      height: 60vh;
      width: 410px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .spinner {
        width: 80px;
        height: 80px;
        background-color: grey;
        border: 81px solid black;
        border-top-color: red;
        border-right-color: red;        
        border-left-color: white;
        border-bottom-color: white;
        border-radius: 50%;
        transform: rotate(-45deg);
        animation: rotate 2s ease-in-out .5s infinite;
        width: 120px;
        height: 120px;
      }
    }
    @keyframes rotate {
      0% {
          transform: rotate(-44deg);
      }
      100% {
          transform: rotate(316deg);
      }
    }
  }
  .found-display{
    background-color: lightgrey;
    @extend %border-setting;
    height: 75vh;
    width: 470px;
    display: flex;
    @include center(center);
  }
}