@import 'var-mix-ext';

.page {
  @extend %page-sizing;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .top {
    height: 100vh;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .pokedex-holder {
      background-color: #e90026;
      @extend %border-setting;
      height: 80vh;
      width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      input {
        outline-color: red;
      }
      .pokedex {
        background-color: lightgrey;
        @extend %border-setting;
        height: 65vh;
        min-height: 0;
        width: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
      }
      .random {
        background: none;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        img {
          max-height: 96px;
          height: 40px;
          max-width: 90px;
          width: 35px;
        }
      }
    }
    .pokedex-holder-loading {
      background-color: $dexred;
      @extend %border-setting;
      height: 80vh;
      width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      .pokedex-border-loading {
        background-color: lightgrey;
        @extend %border-setting;
        height: 65vh;
        width: 410px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .spinner {
          width: 80px;
          height: 80px;
          background-color: grey;
          border: 81px solid black;
          border-top-color: red;
          border-right-color: red;        
          border-left-color: white;
          border-bottom-color: white;
          border-radius: 50%;
          transform: rotate(-45deg);
          animation: rotate 2s ease-in-out .5s infinite;
          width: 120px;
          height: 120px;
        }
      }
      @keyframes rotate {
        0% {
            transform: rotate(-44deg);
        }
        100% {
            transform: rotate(316deg);
        }
      }
    }
    .found-display {
      background-color: lightgrey;
      @extend %border-setting;
      height: 80vh;
      width: 900px;
      display: flex;
      @include center(center);
      margin-top: 50px;
    }
  }
  .bottom {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin: 30px 0px 75px 0px;
    img {
      @extend %border-setting;
      max-height: 280px;
      max-width: 685px;
      display: flex;
    }
    .kanto-map {
      max-height: 330px;
    }
    .region-info {
      background-color: $midblue;
      @extend %border-setting;
      width: 685px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      .main-info {
        color: white;
        font-size: 20px;
        margin: 5px;
      }
      span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5px 20px;
        h1 {
          color: $lightblue;
          font-weight: bold;
        }
        p {
          color: white;
          text-align: start;
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1650px) {
  .page {
    .top {
      height: 100vh;
      .pokedex-holder {
        height: 85vh;
        .pokedex {
          height: 70vh;
          width: 410px;
        }
        .random {
          margin-top: 20px;
          img {
            max-height: 96px;
            height: 30px;
            max-width: 90px;
            width: 25px;
          }
        }
      }
      .pokedex-holder-loading {
        height: 85vh;
        width: 470px;
        .pokedex-border-loading {
          height: 70vh;
          width: 410px;
          .spinner {
            width: 120px;
            height: 120px;
          }
        }
      }
      .found-display {
        height: 85vh;
        width: 470px;
      }
    }
    .bottom {
      img {
        max-width: 470px;
      }
      .region-info {
        width: 470px;
        span {
          margin: 5px 15px;
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1150px) {
  .page {
    min-height: 100vh;
    .top {
      height: 800px;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .pokedex-holder {
        height: 600px;
        width: 370px;
        .pokedex {
          height: 500px;
          width: 300px;
        }
        .random {
          margin-top: 8px;
        }
      }
      .pokedex-holder-loading {
          height: 600px;
          width: 370px;
        .pokedex-border-loading {
            height: 500px;
            width: 300px;
          .spinner {
            width: 60px;
            height: 60px;
            width: 100px;
            height: 100px;
          }
        }
      }
      .found-display {
        height: 600px;
        width: 370px;
      }
    }
    .bottom {
      width: 90%;
      margin: 0px 0px 20px 0px;
      img {
        max-width: 370px;
      }
      .region-info {
        width: 370px;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 850px) {
  .page {
    min-height: 100vh;
    justify-content: space-evenly;
    .top {
      height: 900px;
      flex-direction: column;
      padding: 80px 0px;
      .pokedex-holder {
        height: 400px;
        width: 600px;
        .pokedex {
          height: 300px;
          width: 550px;
        }
        .random {
          img {
            max-height: 66px;
            height: 25px;
            max-width: 60px;
            width: 22px;
          }
        }
      }
      .pokedex-holder-loading {
        height: 400px;
        width: 600px;
        .pokedex-border-loading {
          height: 300px;
          width: 550px;
          .spinner {
            width: 60px;
            height: 60px;
            width: 100px;
            height: 100px;
          }
        }
      }
      .found-display {
        height: 400px;
        width: 600px;
      }
    }
    .bottom {
      width: 90%;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 20px 0px;
      img {
        max-width: 600px;
        margin: 10px;
      }
      .region-info {
        height: 200px;
        width: 600px;
        margin: 10px;
        .main-info {
          margin: 2px;
        }
        span {
          margin: 0px 5px;
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 610px) {
  .page {
    .top {
      height: 900px;
      flex-direction: column;
      padding: 80px 0px;
      .pokedex-holder {
        height: 400px;
        width: 300px;
        .pokedex {
          height: 300px;
          width: 250px;
        }
        .random {
          img {
            max-height: 66px;
            height: 25px;
            max-width: 60px;
            width: 22px;
          }
        }
      }
      .pokedex-holder-loading {
        height: 400px;
        width: 300px;
        .pokedex-border-loading {
          height: 300px;
          width: 250px;
          .spinner {
            width: 60px;
            height: 60px;
          }
        }
      }
      .found-display {
        height: 400px;
        width: 300px;
      }
    }
    .bottom {
      img {
        max-width: 300px;
      }
      .region-info {
        height: auto;
        justify-content: flex-start;
        width: 300px;
        span {
          margin: 3px;
        }
      }
    }
  }
}