@import 'var-mix-ext';

.base-display {
    background-color: lightgrey;
    border-radius: 8px;
    height: 80vh;
    width: 900px;
    display: flex;
    @include center(center);
    .display {
        @extend %border-setting;
        height: 75vh;
        width: 850px;
        display: flex;
        justify-content: space-around;
        .col1 {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .top {
                width: 370px;
                max-height: 440px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .mon-img {
                    background-color: white;
                    @extend %border-setting;
                    max-width: 500px;
                    @extend %foundmargin;
                }
                .image-switch {
                    border-color: black;
                    border-radius: 50px;
                }
                .name-num {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .mega-switch {
                        border-color: black;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            max-height: 40px;
                            max-width: 40px;
                        }
                    }
                    h1 {
                        font-weight: bold;
                        font-size: 20px;
                        @extend %foundmargin;
                    }
                    .mega-back {
                        border-color: black;
                        border-radius: 50px;
                    }
                    .dex-num {
                        font-size: 20px;
                        @extend %foundmargin;
                    }
                }
            }
            .hold-it {
                max-height: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-self: flex-end;
                .type {
                    @extend %foundmargin;
                    display: flex;
                    @include center(center);
                    .type-img {
                        height: 30px;
                        width: 90px;
                        margin: 0px 3px;
                    }
                }
                .abilities {
                    background-color: white;
                    height: 60px;
                    width: 350px;
                    @extend %border-setting;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    span {
                        width: 330px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        margin: 5px;
                        h1 {
                            font-weight: bold;
                            margin: 5px;
                        }
                        h2 {
                            font-size: 12px;
                            margin: 5px;
                        }
                    }
                }
                .height-weight {
                    width: 300px;
                    display: flex;
                    justify-content: space-around;
                    @extend %foundmargin;
                    .height-box {
                        background-color: white;
                        @extend %border-setting;
                        margin: 0px 5px;
                        h2 {
                            font-weight: bold;
                            @extend %foundmargin;
                        }
                        .height {
                            width: 150px;
                            display: flex;
                            @include center(center);
                            div {
                                @extend %foundmargin;
                            }
                        }
                    }
                    .weight-box {
                        background-color: white;
                        @extend %border-setting;
                        margin: 0px 5px;
                        h2 {
                            font-weight: bold;
                            @extend %foundmargin;
                        }
                        .weight {
                            width: 150px;
                            display: flex;
                            @include center(center);
                            div {
                                @extend %foundmargin;
                            }
                        }
                    }
                }
            }
        }
        .col2 {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .chart {
                background-color: white;
                @extend %border-setting;
                height: 270px;
                width: 430px;
                display: flex;
                @include center(center);
            }
            .encounters {
                background-color: white;
                @extend %border-setting;
                height: 35vh;
                width: 430px;
                display: flex;
                justify-content: center;
                overflow: scroll;
                .encounter-holder {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .encounter {
                        margin: 10px;
                    }
                    .no-encounter {
                        margin-top: 160px;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1650px) {
    .base-display {
        height: 85vh;
        width: 470px;
        .display {
            height: 80vh;
            width: 420px;
            display: block;
            overflow: scroll;
            .col1 {
                .top {
                    max-height: 370px;
                    .mon-img {
                        max-height: 300px;
                    }
                }
                .hold-it {
                    .abilities {
                        height: 50px;
                        flex-direction: row;
                        justify-content: center;
                        span {
                            width: 330px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                        }
                    }
                }
            }
            .col2 {
                .chart {
                    height: 200px;
                    width: 390px;
                    margin: 0px 5px 5px 5px;
                }
                .encounters {
                    height: auto;
                    width: 390px;
                    margin: 0px 5px 10px 5px;
                    .encounter-holder {
                        .no-encounter {
                            margin: 20px;
                        }
                        .encounter {
                            min-height: 4vh;
                        }
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1150px) {
    .base-display {
        height: 600px;
        width: 370px;
        .display {
            height: 540px;
            width: 320px;
            overflow-y: scroll;
            .col1 {
                .top {
                    max-height: 270px;
                    .mon-img {
                        max-height: 200px;
                        max-width: 300px;
                    }
                }
                .hold-it {
                    .abilities {
                        height: 50px;
                        width: 300px;
                        flex-direction: row;
                        justify-content: center;
                        span {
                            width: 300px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                        }
                    }
                    .height-weight {
                        width: 320px;
                        .height-box {
                            .height {
                                width: 140px;
                                div {
                                    font-size: 12px;
                                }
                            }
                        }
                        .weight-box {
                            .weight {
                                width: 140px;
                                div {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .col2 {
                .chart {
                    height: 200px;
                    width: 300px;
                    margin: 0px 5px 5px 5px;
                }
                .encounters {
                    height: auto;
                    width: 300px;
                    margin: 0px 5px 10px 5px;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 850px) {
    .base-display {
        height: 400px;
        width: 600px;
        .display {
            height: 350px;
            width: 550px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            overflow: none;
            .col1 {
                height: 350px;
                width: 205px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                overflow: scroll;
                .top {
                    max-height: 100px;
                    width: 200px;
                    .mon-img {
                        max-width: 190px;
                    }
                    .name-num {
                        display: flex;
                        justify-content: space-around;
                        h1 {
                            font-size: 14px;
                        }
                        .dex-num {
                            font-size: 14px;
                        }
                    }
                }
                .hold-it {
                    .type {
                        margin: 10px;
                        .type-img {
                            height: 20px;
                            width: 55px;
                            margin: 0px 3px;
                        }
                    }
                    .abilities {
                        height: 250px;
                        width: 195px;
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            h1 {
                                font-size: 10px;
                            }
                            h2 {
                                font-size: 8px;
                            }
                        }
                    }
                    .height-weight {
                        height: auto;
                        width: 195px;
                        .height-box {
                            min-height: 50px;
                            h2 {
                                font-size: 12px;
                            }
                            .height {
                                width: 80px;
                                margin: 5px;
                                div {
                                    font-size: 10px;
                                }
                            }
                        }
                        .weight-box {
                            min-height: 50px; 
                            h2 {
                                font-size: 12px;
                            }
                            .weight {
                                width: 80px;
                                margin: 5px;
                                div {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .col2 {
                height: 340px;
                width: 295px;
                justify-content: space-around;
                .chart {
                    height: 200px;
                    width: 300px;
                    margin: 0px;
                }
                .encounters {
                    height: 100px;
                    width: 300px;
                    margin: 0px;
                    .encounter-holder {
                        .no-encounter {
                            margin: 35px;
                        }
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 610px) {
    .base-display {
        height: 400px;
        width: 300px;
        display: flex;
        .display {
            width: 250px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow: scroll;
            .col1 {
                min-height: 400px;
                width: 240px;
                overflow: visible;
                .top {
                    width: 235px;
                    max-height: 230px;
                    padding: 0px;
                    .mon-img {
                        max-width: 100px;
                    }
                    .name-num {
                        display: flex;
                        justify-content: space-around;
                        h1 {
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .dex-num {
                            font-size: 20px;
                        }
                    }
                }
                .hold-it {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-self: flex-end;
                    .type {
                        display: flex;
                        .type-img {
                            height: 30px;
                            width: 90px;
                            margin: 0px 3px;
                        }
                    }
                    .abilities {
                        width: 230px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span {
                            width: 230px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            h1 {
                                font-weight: bold;
                                margin: 5px;
                            }
                            h2 {
                                font-size: 12px;
                                margin: 5px;
                            }
                        }
                    }
                    .height-weight {
                        width: 240px;
                        display: flex;
                        justify-content: space-around;
                        .height-box {
                            margin: 0px 5px;
                            h2 {
                                font-weight: bold;
                            }
                            .height {
                                display: flex;
                            }
                        }
                        .weight-box {
                            margin: 0px 5px;
                            h2 {
                                font-weight: bold;
                            }
                            .weight {
                                display: flex;
                            }
                        }
                    }
                }
            }
            .col2 {
                min-height: 300px;
                width: 245px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                .chart {
                    width: 240px;
                    margin: 10px 0px 5px 0px;
                }
                .encounters {
                    width: 240px;
                    margin: 5px 0px 10px 0px;
                }
            }
        }
    }
}