@import 'var-mix-ext';

.item-base-display {
    background-color: lightgrey;
    border-radius: 8px;
    height: 80vh;
    width: 900px;
    display: flex;
    @include center(center);
    .item-display {
        @extend %border-setting;
        height: 75vh;
        width: 850px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .item-img {
            background-color: white;
            @extend %border-setting;
            width: 100px;
            max-width: 200px;
            @extend %foundmargin;
        }
        .name-cost {
            display: flex;
            justify-content: space-around;
            align-items: center;
            h1 {
                color: $lightblue;
                font-weight: bold;
                font-size: 20px;
                @extend %foundmargin;
            }
            .cost {
                color: white;
                font-size: 16px;
                @extend %foundmargin;
            }
        }
        .effect {
            background-color: white;
            height: 150px;
            width: 400px;
            @extend %border-setting;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: auto;
            div {
                margin: 10px;
            }
        }
        .hold-mon {
            background-color: white;
            @extend %border-setting;
            height: 35vh;
            width: 400px;
            display: flex;
            justify-content: center;
            overflow: auto;
            .hold-holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                .hold {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    margin: 10px;
                    div {
                        margin: 3px;
                    }
                }
                .no-hold {
                    margin-top: 160px;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1650px) {
    .item-base-display {
        height: 85vh;
        width: 470px;
        .item-display {
            height: 80vh;
            width: 420px;
            flex-direction: column;
            justify-content: space-between;
            overflow: auto;
            .item-img {
                margin-top: 30px;
            }
            .effect {
                min-height: 150px;
                flex-direction: row;
                justify-content: center;
            }
        }
        .hold-mon {
            height: auto;
            width: 390px;
            margin: 0px 5px 10px 5px;
            .hold-holder {
                .no-hold {
                    margin: 20px;
                }
            }
        } 
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1150px) {
    .item-base-display {
        height: 600px;
        width: 370px;
        .item-display {
            height: 540px;
            width: 320px;
            .item-img {
                max-height: 200px;
                max-width: 300px;
            }
            .effect {
                min-height: 100px;
                width: 300px;
                flex-direction: row;
                justify-content: center;
                div {
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
            .hold-mon {
                height: 20vh;
                width: 300px;
                margin: 0px 5px 10px 5px;
                align-items: center;
                justify-content: center;
                .hold-holder {
                    .no-hold {
                        margin: 0px;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 850px) {
    .item-base-display {
        height: 400px;
        width: 600px;
        .item-display {
            height: 350px;
            width: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: none;
            .item-img {
                max-width: 100px;
                margin: 0px;
            }
            .name-cost {
                display: flex;
                justify-content: space-around;
                align-items: center;
                h1 {
                    font-size: 18px;
                }
                .cost {
                    font-size: 14px;
                }
            }
            .effect {
                height: 60px;
                width: 300px;
                div {
                    width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
            .hold-mon {
                height: 100px;
                width: 300px;
                margin: 0px;
                align-items: flex-start;
                .hold-holder {
                    .no-hold {
                        margin: 35px;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 610px) {
    .item-base-display {
        height: 400px;
        width: 300px;
        display: flex;
        .item-display {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: auto;
            .item-img {
                max-width: 100px;
            }
            .name-cost {
                display: flex;
                justify-content: space-around;
                align-items: center;
                h1 {
                    font-weight: bold;
                    font-size: 18px;
                }
                .cost {
                    font-size: 14px;
                }
            }
            .effect {
                width: 240px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                overflow: scroll;
                div {
                    width: 200px;
                    justify-content: flex-start;
                }
            }
            .hold-mon {
                width: 240px;
                margin: 5px 0px 0px 0px;
            }
        }
    }
}