@import 'var-mix-ext';

.main {
    @extend %page-sizing;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .welcome {
        background-color: white;
        @extend %border-setting;
        border-color: $darkblue;
        color: $darkblue;
        height: 30vh;
        width: 60vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h1 {
            width: 35vw;
            font-size: 48px;
            font-weight: bold;
        }
        .happy-pikachu {
            max-height: 200px;
        }
    }
    .b-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .about {
            background-color: white;
            @extend %border-setting;
            border-color: $darkblue;
            color: $darkblue;
            height: 30vh;
            width: 32vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            h1 {
                width: 35vw;
                font-size: 48px;
                font-weight: bold;
            }
            p {
                font-size: 20px;
                margin: 0px 15px;
                a {
                    color: $dexred;
                }
                a:visited {
                    color: #800015;
                }
                a:hover {
                    color: $dexred;
                }
            }
        }
        .disclaimer {
            background-color: white;
            @extend %border-setting;
            border-color: $darkblue;
            color: $darkblue;
            height: 30vh;
            width: 32vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            h1 {
                width: 30vw;
                font-size: 48px;
                font-weight: bold;
            }
            p {
                font-size: 20px;
                margin: 0px 15px;
            }
        }
    }
}

@media (max-width: 1350px) {
    .main {
        .b-row {
            .about {
                p {
                    font-size: 16px;
                }
            }
            .disclaimer {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .main {
        .welcome {
            min-height: 20vh;
            height: auto;
            margin-top: 50px;
            h1 {
                font-size: 36px;
            }
        }
        .b-row {
            height: 50vh;
            flex-direction: column;
            justify-content: space-between;
            .about {
                min-height: 20vh;
                height: auto;
                width: 60vw;
                h1 {
                    font-size: 36px;
                }
            }
            .disclaimer {
                min-height: 20vh;
                height: auto;
                width: 60vw;
                h1 {
                    font-size: 36px;
                    width: 50vw;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .main {
        .welcome {
            h1 {
                font-size: 32px;
            }
            .happy-pikachu {
                max-height: 150px;
            }
        }
        .b-row {
            .about {
                h1 {
                    font-size: 24px;
                }
                p {
                    font-size: 14px;
                }
            }
            .disclaimer {
                h1 {
                    font-size: 24px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .main {
        .welcome {
            flex-direction: column;
            h1 {
                font-size: 24px;
            }
            .happy-pikachu {
                max-height: 100px;
            }
        }
        .b-row {
            .about {
                h1 {
                    font-size: 20px;
                }
                p {
                    font-size: 10px;
                }
            }
            .disclaimer {
                h1 {
                    font-size: 20px;
                }
                p {
                    font-size: 10px;
                }
            }
        }
    }
}