@import 'var-mix-ext';

.page {
  @extend %page-sizing;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .top {
    height: 100vh;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .pokedex-holder {
      background-color: #e90026;
      @extend %border-setting;
      height: 80vh;
      width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 50px;
      input {
        outline-color: red;
        margin: 27px;
      }
      .pokedex {
        background-color: lightgrey;
        @extend %border-setting;
        height: 65vh;
        width: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
      }
      .random-move {
        background: none;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 64px;
          height: 48px;
          max-width: 64px;
          width: 48px;
        }
      }
    }
    .pokedex-holder-loading {
      background-color: $dexred;
      @extend %border-setting;
      height: 80vh;
      width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      .pokedex-border-loading {
        background-color: lightgrey;
        @extend %border-setting;
        height: 65vh;
        width: 410px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .spinner {
          width: 80px;
          height: 80px;
          background-color: grey;
          border: 81px solid black;
          border-top-color: red;
          border-right-color: red;        
          border-left-color: white;
          border-bottom-color: white;
          border-radius: 50%;
          transform: rotate(-45deg);
          animation: rotate 2s ease-in-out .5s infinite;
          width: 120px;
          height: 120px;
        }
      }
      @keyframes rotate {
        0% {
            transform: rotate(-44deg);
        }
        100% {
            transform: rotate(316deg);
        }
      }
    }
    .found-display{
      background-color: lightgrey;
      @extend %border-setting;
      height: 80vh;
      width: 900px;
      display: flex;
      @include center(center);
      margin-top: 50px;
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1650px) {
  .page {
    .top {
      height: 100vh;
      .pokedex-holder {
        height: 85vh;
        .pokedex {
          height: 70vh;
          width: 410px;
        }
        .random-move {
          img {
            max-height: 64px;
            height: 40px;
            max-width: 64px;
            width: 40px;
          }
        }
      }
      .pokedex-holder-loading {
        height: 85vh;
        width: 470px;
        .pokedex-border-loading {
          height: 70vh;
          width: 410px;
          .spinner {
            width: 120px;
            height: 120px;
          }
        }
      }
      .found-display {
        height: 85vh;
        width: 470px;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1150px) {
  .page {
    min-height: 100vh;
    .top {
      height: 800px;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .pokedex-holder {
        height: 600px;
        width: 370px;
        input {
          margin: 14.5px;
        }
        .pokedex {
          height: 500px;
          width: 300px;
        }
      }
      .pokedex-holder-loading {
          height: 600px;
          width: 370px;
        .pokedex-border-loading {
            height: 500px;
            width: 300px;
          .spinner {
            width: 60px;
            height: 60px;
            width: 100px;
            height: 100px;
          }
        }
      }
      .found-display {
        height: 600px;
        width: 370px;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 850px) {
  .page {
    min-height: 100vh;
    justify-content: space-evenly;
    .top {
      height: 900px;
      flex-direction: column;
      padding: 80px 0px;
      .pokedex-holder {
        height: 400px;
        width: 600px;
        input {
          margin: 14px;
        }
        .pokedex {
          height: 300px;
          width: 550px;
        }
        .random-move {
          img {
            max-height: 64px;
            height: 32px;
            max-width: 64px;
            width: 32px;
          }
        }
      }
      .pokedex-holder-loading {
        height: 400px;
        width: 600px;
        .pokedex-border-loading {
          height: 300px;
          width: 550px;
          .spinner {
            width: 60px;
            height: 60px;
            width: 100px;
            height: 100px;
          }
        }
      }
      .found-display {
        height: 400px;
        width: 600px;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 610px) {
  .page {
    .top {
      height: 900px;
      flex-direction: column;
      padding: 80px 0px;
      .pokedex-holder {
        height: 400px;
        width: 300px;
        input {
          margin: 13.5px;
        }
        .pokedex {
          height: 300px;
          width: 250px;
        }
        .random-move {
          img {
            max-height: 64px;
            height: 24px;
            max-width: 64px;
            width: 24px;
          }
        }
      }
      .pokedex-holder-loading {
        height: 400px;
        width: 300px;
        .pokedex-border-loading {
          height: 300px;
          width: 250px;
          .spinner {
            width: 60px;
            height: 60px;
          }
        }
      }
      .found-display {
        height: 400px;
        width: 300px;
      }
    }
  }
}
