@import 'var-mix-ext';

.pokemon-box {
  width: 410px;
  .pokemon {
    background-color: grey;
    border-radius: 10px;
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    .sprite {
      background-color: white;
      border-radius: 50px;
      outline: none;
    }
    .name {
      font-size: 20px;
      font-weight: bold;
    }
    .dex-num {
      font-size: 20px;
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 1150px) {
  .pokemon-box {
    width: 300px;
    .pokemon {
      width: 260px;
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 850px) {
  .pokemon-box {
    width: 550px;
    .pokemon {
      width: 510px;
    }
  }
}

// ----------------------------------------------------------------------------------------- //

@media (max-width: 610px) {
  .pokemon-box {
    width: 250px;
    .pokemon {
      width: 210px;
    }
  }
}