@import 'var-mix-ext';

.profile {
  @extend %page-sizing;
  height: 92.9vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .interface {
    width: 80vw;
    display: flex;
    .user-info {
      background-color: $midblue;
      width: 35%;
      display: flex;
      flex-direction: column;
      @include center(center);
      .image-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        .user-img {
          background-color: white;
          border: 2px solid white;
          border-radius: 10px;
          max-height: 200px;
          margin: 10px;
        }
        button {
          @extend %button;
          margin: 0px 0px 10px 0px;
        }
      }
      .name-box {
        color: white;
        margin: 10px;
      }
    }
    .just-a-background-div {
      background-color: $darkblue;
      width: 65%;
      .user-team-holder {
        background-color: $darkblue;
        display: flex;
        align-items: center;
        .user-team {
          width: 100%;
          .row1 {
            @extend %teamrows;
          }
          .row2 {
            @extend %teamrows;
          }
          .row3 {
            @extend %teamrows;
          }
        }
      }
    }
  }
}