@import 'var-mix-ext';

.team-pokemon {
    background-color: white;
    border: 2px solid $dexred;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .img-name {
        .mon-img {
            max-width: 190px;
            max-height: 140px;
            margin: 10px;
        }
        .team-mon-name {
            margin: 10px;
        }
    }
}

@media (max-width: 450px) {
    .team-pokemon {
        border-radius: 10px;
        height: 100px;
        width: 100px;
        .img-name {
            .mon-img {
                max-width: 90px;
                margin: 5px;
            }
            .team-mon-name {
                margin: 5px;
            }
        }
    }
}