@import 'var-mix-ext';

.team-pokemon {
    background-color: white;
    border: 2px solid $dexred;
    border-radius: 10px;
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .img-name {
        .mon-img {
            max-height: 150px;
            margin: 10px;
        }
        .team-mon-name {
            margin: 10px;
        }
    }
}